# Don't track content of these folders
node_modules/
config/bunq/
dist/
config/sslcert/
temp/
config/dynudns/
config/scripts
client/node_modules

#files
client/.env
.env
*.sqlite
config/database/seeders/oauthproviders.js